<h1>HF Plates</h1>
<%= link_to '+ add new plate', new_plate_path %>
<% @plates_by_category.each do |category_id, plates| %>

<h3><%= Category.where(:id => category_id).first.name %></h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Products</th>
      <th>Cost</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% if plates.any? %>
    <% plates.each do |plate| %>
      <tr>
        <td><%= link_to plate.name, plate %></td>
        <td><%= plate.price %></td>
        
        <% @productlinks = Productlink.where(:plate_id => plate.id)%>
        <td><% @productlinks.each do |productlink| %>
          <%= link_to Product.get_name(productlink.product_id), product_path(productlink.product_id) %><br>
            <% end %>
          </td>
        <td><%= number_with_precision(Product.get_plate_total_ratios_price(plate.id), :precision=>2) %></td>
        <td><%= link_to 'Edit', edit_plate_path(plate) %> | 
        <%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       <% end %>
  </tbody>
  
</table>
<% end %>
<br>


