<h1>HF Plates</h1>
<%= link_to '+ add new plate', new_plate_path %>
<% @plates_by_category.each do |category_id, plates| %>

  <div class="row">
  <div class="col-xs-6 col-md-10  col-md-offset-1">

<h3><%= Category.where(:id => category_id).first.name %></h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Menu Plate</th>
      <th colspan="1"></th>
      <th>Contents</th>      
      <th>Menu Price</th>
      <th>Cost</th>
      <th>Margin</th>
      <th>Mg %</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% if plates.any? %>
    <% plates.each do |plate| %>
      <tr>
        <td><%= link_to plate.name, plate %></td>
        <td><%= link_to '[Edit]', edit_plate_path(plate) %></td> 

            <% @productlinks = Productlink.where(:plate_id => plate.id)%>
            <td><% @productlinks.each do |productlink| %>
              <%= link_to Product.get_name(productlink.product_id), product_path(productlink.product_id) %><br>
                <% end %>
            </td>
        
        <td><%= plate.price %> p</td>
        <td><%= pl_tot = number_with_precision(get_plate_cost(plate), :precision => 2) %> p</td>
        <td><%= marg = number_with_precision((plate.price.to_f)-(pl_tot.to_f), :precision => 2) %> p</td>
        <td><%= number_with_precision((marg.to_f)/(plate.price.to_f)*100, :precision => 0) %>%</td>
        <td><%= link_to '[Delete]', plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       <% end %>
  </tbody>
  
</table>
<% end %>
<br>
</div></div>

