<div class="row">
  <div class="col-md-4 col-md-offset-2">

  <h2>New plate</h2>

<h3>First - create the plate.</h3>
<%= bootstrap_form_for(@plate) do |f| %>
  <% if @plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% @plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <%= f.text_field :name, :size => 30 %>
    <%= f.collection_select :category_id, (Category.where(:reference => 'plate')), :id, :name, :prompt => true %><br>
    <%= f.text_field :price, :size => 10, :style => "text-align: Right", :placeholder => "selling price in pence" %> 
 
  <div class="actions">
       <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Back', plates_path %>
