<br>

<div class="masthead">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2"> 
       
       <nav>
         <ul class="nav nav-justified">
           <li class="active"><a href="/ingredients">Ingredients</a></li>
 
           <li><a href="/products">Products</a></li>
           <li><a href="/plates">Plates</a></li>
           <li><a href="/vendors">Vendors</a></li>
           <li><a href="/categories">Categories</a></li>
         </ul>
         <h3 class="text-muted">HANGFIRE SMOKEHOUSE</h3>
       </nav>
     </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
<div class="row">
    
    <div class="col-md-4 col-md-offset-2"> 
  <table class="table table-bordered">
  <tr>
  <th><%= link_to "Products", products_path %></th>
  <th># <%= @products.count %></th>
  </tr>
  <tbody>
    <% @products_by_category.each do |category_id, products| %>
      <tr><td><h4><%= Category.where(:id => category_id).first.name %></h4></td>
      <td>(<%= products.count %>)</td></tr>
      <% products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.productitems.count %></td>
  </tr>
  <% end %>
    </tbody>
      <% end %>
    </table>
    <%= link_to "+ add new HF product", new_product_path %>
  </div>

  <div class="col-md-4">
  <table class="table table-bordered">
   <tr>
    <th><%= link_to "Ingredients", ingredients_path %></th>
    <th># <%= @ingredients.count %></th>
      </tr>
      <tr>
      <th>No. of ingredients with pricing data?</th>
    <th># <%= Baseproduct.distinct.count('ingredient_id') %></th>
   </tr>
   <tbody>

     <% @ingredients_category.each do |category_id, ingredients| %>
   <tr>
     <td><%= Category.where(:id => category_id).first.name %></td>
     <td><%=  Ingredient.where(:category_id =>category_id).count %></td>
   </tr>
   <% end %>
   </tbody>
   </table>
   <%= link_to "+ add new ingredient", new_ingredient_path %>
   <br><br>
   <table class="table table-bordered">
    <tr>
   <th><%= link_to "Vendors", vendors_path %></th>
   <th># <%= @vendors.count %></th>
    </tr>
    <tbody>
    
      <% @vendors.each do |vendor| %>
    <tr>
       <td><%= link_to vendor.name, vendor %></td>
        <td><%= Baseproduct.where(:vendor_id => vendor.id).distinct.count(:ingredient_id) %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    <%= link_to "+ add new vendor", new_vendor_path %>

  <br>  
    
    <table class="table table-bordered">
     <tr>
     <th><%= link_to "Categories", categories_path %></th>
     <th># <%= Category.all.count %></th>
     </tr>
     <tbody>
       <% @categories_by_reference.each do |reference, categories| %>
         <tr><td><h4><%= reference %></h4></td>
         <td>(<%= categories.count %>)</td></tr>
         <% categories.each do |category| %>
     <tr>
       <td><%= link_to category.name, category %></td>
       <td><%= count_by_category(category) %></td>
     </tr>
     <% end %>
       </tbody>
         <% end %>
       </table>
       <%= link_to "+ add new category", new_category_path %>
    
    </div>    
     </div> 
      </div>
  </div>
