<br>
<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
  
  <table class="table table-bordered">
  <tr>
  <th><%= link_to "Products", products_path %></th>
  <th># <%= @products.count %></th>
  </tr>
  <tbody>
  
    <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.productitems.count %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

   <%= link_to "+ add new HF product", new_product_path %>
  </div>

  <div class="col-md-4">
  <table class="table table-bordered">
   <tr>
  <th><%= link_to "Ingredients", ingredients_path %></th>
   <th># <%= @ingredients.count %></th>

   </tr>
   <tbody>

     <% @ingredients_category.each do |category_id, ingredients| %>
   <tr>
     <td><%= Category.where(:id => category_id).first.name %></td>
     <td><%=  Ingredient.where(:category_id =>category_id).count %></td>
   </tr>
   <% end %>
   </tbody>
   </table>
   <%= link_to "+ add new ingredient", new_ingredient_path %>
   </div>
  </div>
</div>
</div>