<%= form_for(@saleproduct) do |f| %>
  <% if @saleproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saleproduct.errors.count, "error") %> prohibited this saleproduct from being saved:</h2>

      <ul>
      <% @saleproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="masthead">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-8 col-md-offset-2"> 

  <div class="field">
    <%= f.label :category_id %>: 
    <%= f.collection_select :category_id, (Category.where(:reference => 'christmas product')), :id, :name, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label :status %>: 
    <%= f.select(:status, Saleproduct::STATUS_TYPES, :value => "Live") %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,  :style => "width: 300px;" %>
  </div>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, cols: 80, rows: 5 %>
  </div>

  <div class="field">
    <%= f.label :lowstock %><br>
    <%= f.check_box :lowstock %>
  </div>

  <div class="field">
    <%= f.label :soldout %><br>
    <%= f.check_box :soldout %>
  </div>

  <div class="field">
    <%= f.label :sort, "Sort Order" %><br>
    <%= f.select :sort, options_for_select(Range.new(1,35), :selected => f.object.sort) %>
  </div>

  <div class="field">
    <%= f.label :stock_quantity %><br>
    <%= f.number_field :stock_quantity,  :style => "width: 50px;" %>
  </div>
  <div class="field">
    <%= f.label :remaining_quanity %><br>
    <%= f.number_field :remaining_quanity,  :style => "width: 50px;" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <strong>£</strong>
    <%= f.text_field :price,  :style => "width: 70px;" %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight,  :style => "width: 150px;" %>
  </div>

  <div class="actions">
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    Save Product
  <% end %>
   
  </div>
<% end %>
  </div>
    </div>
      </div>  
      </div>