<h2>Christmas Products</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product<br>Name</th>
      <th class="text-right">Stock<br>quantity</th>
      <th class="text-right">Remaining<br>quanity</th>
      <th class="text-right">% Sold</th>
      <th class="text-right">Unit<br>Price</th>
      <th class="text-center">Unit<br>Weight</th>
      <th class="text-center">Product<br>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @saleproducts.each do |saleproduct| %>
      <tr>
        <td><%= saleproduct.name %></td>
        <td class="text-right"><%= saleproduct.stock_quantity %></td>
        <td class="text-right"><%= saleproduct.remaining_quanity %></td>
        <td class="text-right"><%= number_to_percentage((percentage_sold(saleproduct)), precision: 0) %></td>
        <td class="text-right"><%= number_to_currency(saleproduct.price) %></td>
        <td class="text-center"><%= saleproduct.weight %></td>
        <td class="text-center"><%= saleproduct.status %></td>
        <td><%= link_to 'Show', saleproduct %> | 
            <%= link_to 'Edit', edit_saleproduct_path(saleproduct) %> | 
            <%= link_to 'Destroy', saleproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ add new christmas product', new_saleproduct_path %>
<br>
<button class="btn">	<%= form_tag import_saleproducts_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import Products" %>
                        <% end %>
</button>

