<div class="masthead">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2"> 

<h3> <%= @saleproduct.name %></h3>
<p>
  <strong>Category:</strong>
  <%= Category.where(:id => @saleproduct.category_id).first.name %>
</p>
<p>
  <strong>Desc</strong>
  <%= @saleproduct.desc %>
</p>

<p>
<% if @saleproduct.lowstock == 1 %>
  LOW STOCK
  <% end %>
</p>

<% if @saleproduct.soldout == 1 %>
  SOLD OUT
  <% end %>
</p>

<p>
  <strong>Sort Order:</strong>
  <%= @saleproduct.sort %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @saleproduct.stock_quantity %>
</p>

<p>
  <strong>Remaining quanity:</strong>
  <%= @saleproduct.remaining_quanity %>
</p>

<p>
  <strong>Price:</strong>
  £<%= @saleproduct.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @saleproduct.weight %>
</p>

<p>
  <strong>Status:</strong>
  <%= @saleproduct.status %>
</p>

<%= link_to 'Edit', edit_saleproduct_path(@saleproduct) %> |
<%= link_to 'View List', saleproducts_path %>
</div>
  </div>
    </div>  
    </div>
