<h2>Users</h2>
<%= link_to '+ add new User', new_user_path %>

<table class=table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + " " + user.lastname %></td>
        <td><%= link_to user.email, user%></td>
        <td><%= user.phone %></td>
  
        <td>
        <%= link_to 'Show', user %> | 
        <%= link_to 'Edit', edit_user_path(user) %> 
        
        <% if current_user.admin? %>
            | <%= link_to "delete", user, method: :delete,
                                          data: { confirm: "You sure?" } %>
                                          </td>
                                           <td><%= user.admin %></td>
          <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


