

<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
   <h2> Profile </h2>
<p>
  <strong>Name:</strong>
  <%= @user.first_name+ " "+ @user.lastname%> 
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
</div>
  <div class="col-md-4">
 <h2> Billing Address </h2>
  <table>
  
  
<p>
  <strong>Line 1:</strong>
  <%= @user.bill_addr1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @user.bill_addr2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @user.bill_addr3 %>
</p>

<p>
  <strong>County:</strong>
  <%= @user.bill_addr4 %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.bill_postcode %>
</p>
</table>
</div>
  <div class="col-md-4">
   <h2> Delivery Address </h2>
<p>
  <strong>Line 1:</strong>
  <%= @user.delivery_addr1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @user.delivery_addr2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @user.delivery_addr3 %>
</p>

<p>
  <strong>County:</strong>
  <%= @user.delivery_addr4 %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.delivery_postcode %>
</p>
</div></div></div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
