<%= form_for(@productitem) do |f| %>
  <% if @productitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productitem.errors.count, "error") %> prohibited this productitem from being saved:</h2>

      <ul>
      <% @productitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.collection_select :ingredient_id, (Ingredient.all.sort_by { |h| h[:name] }), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :volume, "Volume (g)" %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
