<%= form_for(@orderitem) do |f| %>
  <% if @orderitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderitem.errors.count, "error") %> prohibited this orderitem from being saved:</h2>

      <ul>
      <% @orderitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :saleproduct_id %><br>
    <%= f.number_field :saleproduct_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :item_price %><br>
    <%= f.text_field :item_price %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
