    <fieldset>
    
    <table class="table table-condensed" style="border: 0; background-color: #e6e6e6">
    <tr>
    
    <td colspan="2"><%= f.date_select :purchase_date %></td>
    <td><%= f.collection_select :vendor_id, (Vendor.all.sort_by { |h| h[:name] }), :id, :name, :prompt => true %></td>
    </tr>
    <tr>
    <td><%= f.text_field :unit_count, help: "1 unless multipack" %></td>
    <td><%= f.text_field :unit_weight, :placeholder => "grams/ml" , help: "Weight in grams or Volume in ml" %></td>
    <td><%= f.text_field :total_weight, :placeholder => "grams/ml" , help: "If only 1 item, same as unit weight" %></td>
    </tr>

    <tr>
    <td><%= f.text_field :unit_price, :placeholder => "pence" , help: "IMPORTANT: Enter price in PENCE" %></td>
    <td><%= f.text_field :total_price, :placeholder => "pence" , help: "If only 1 item, same as unit price" %></td>
    <td><%= f.text_field :price_per, :readonly => true, help: "DO NOT ENTER, calculated"  %></td>
    </tr>
    <tr>
    <td colspan="3">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove this purchase record" %>
      </td></tr>
      </table>
    </fieldset>