<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, (Category.where(:reference => 'ingredient')), :id, :name, :prompt => true %><br>
    <i>Category missing? </i><%= link_to '+ add new Category', new_category_path %>
<br>

    <%= f.fields_for :baseproducts do |builder| %>
      <%= render 'baseproduct_fields', f: builder %>
    <% end %><br>
    <%= link_to_add_fields "+ add purchase record", f, :baseproducts %>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
