<h1>Ingredients</h1>


<%= link_to '+ add new ingredient', new_ingredient_path %><br>
<%= link_to '>> see all products', products_path %>

<% @ingredients_category.each do |category_id, ingredients| %>

<table class="table  table-striped" >
  <thead>
    <tr>
     <th><h3><%= Category.where(:id => category_id).first.name %></h3><%= link_to '+ add new ingredient', new_ingredient_path %><br></th>
     <th><center>Pricing<br>Data?</center></th>
      <th><center>Related<br>Products?</center></th>
      <th>Unit or<br>Weight (g)</th>
      <th style="text-align:center"> Shrinkage %</th>
      <th style="text-align:right">Purchase<br>Price p/g</th>
      <th style="text-align:center">Price<br>Change</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% ingredients= ingredients.sort_by { |h| h[:name]} %>
    <% ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.name, ingredient %></td>
        <% if ingredient.baseproducts.count > 0 %>
        
        <td><center><%= ingredient.baseproducts.count %>
        <% age = Ingredient.record_age(ingredient.id) %>
        <% if age == "green" %><font color="green"> = </font>
          <% elsif age == "amber" %><font color="orange"> = </font>
            <% else age == "red" %><font color="red"> = </font> 
            <% end %><center>
        </td>
        
        <td><center><%= related_product_count(ingredient) %><center></td>
       
        <td><%= number_with_precision(Ingredient.get_unit_weight(ingredient.id), :precision => 0) %>
        
        <% if !ingredient.unit_item.blank? %>/ <%=  ingredient.unit_item%><% end %> </td>  
        
        <td style="text-align:center"> <%= ingredient.shrinkage %> </td>
        
        <td style="text-align:right"> <font color="blue"><% if !ingredient.shrinkage.blank? %>adjusted<% end %></font>
        <% average = number_with_precision(Ingredient.get_price(ingredient.id, 'average'), :precision => 3) %>
        <%= latest = number_with_precision(Ingredient.get_price(ingredient.id, 'latest'), :precision => 3) %>
       </td>
       
        <td style="text-align:center"><% if (latest.to_f-average.to_f).ceil.is_a? Numeric%>
          <% if (latest.to_f-average.to_f).ceil > 0 %>
              <font color="red"> UP</font>
          <% elsif (latest.to_f-average.to_f) < 0 %>
              <font color="green"><strong> DOWN!</strong></font>
          <% else %>
          <% end %>
          <% end %>
         </td>
        <% else %>
        <td></td><td></td><td></td><td></td><td></td><td></td>
        <% end %>
        
         <td> 
          <%= link_to edit_ingredient_path(ingredient), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
          <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>

<button class="btn">	<%= form_tag import_ingredients_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import" %>
                        <% end %>
  </button>
