<div class="row">
  <div class="col-md-8 col-md-offset-2">

<h3>
  <strong><%= Category.where(id: @ingredient.category_id).first.name %> / <%= @ingredient.name %></strong>
</h3>
<% if !@ingredient.unit_item.blank? %>
<h4>Unit Item - <%= @ingredient.unit_item %></h4>
<% end %>
<% if !@ingredient.shrinkage.blank? %>
<h4>Shrinkage % - <%= @ingredient.shrinkage %></h4>
<% end %>

<% if (prods = (ingredient_related_product(@ingredient))).any?%>
 <h5>Product(s) that use this ingredient: </h5>
<% prods.each do |product| %>
  <ul>
  <li><%= link_to Product.get_name(product), product_path(product) %></li>
  </ul>
  <% end %>
    <% end %>
    <hr>
<% if @ingredient.baseproducts.any? %>

  <table class="table  table-striped" style="text-align:right">
    <thead>
      <tr>
        <th style="text-align:right">Purchase date</th>
        <th style="text-align:right">Vendor </th>
        <th style="text-align:right">Unit count</th>
        <th style="text-align:right">Unit weight(g)</th>
        <th style="text-align:right">Total weight(g)</th>
        <th style="text-align:right">Unit price(p)</th>
        <th style="text-align:right">Total price(p)</th>
        <th style="text-align:right">Price per (p/g)</th>
      </tr>
    </thead>
    <tbody>
  <%  @baseproducts.each do |baseproduct| %> 
        <tr>
          <td><%= baseproduct.purchase_date %></td>
          <td><%= link_to (Vendor.where(:id => baseproduct.vendor_id ).first.name), vendors_path(baseproduct.vendor_id) %></td>
          <td><%= baseproduct.unit_count %></td>
          <td><%= baseproduct.unit_weight %><% if !@ingredient.unit_item.blank? %>/ <%=  @ingredient.unit_item%><% end %> </td>
          <td><%= baseproduct.total_weight %></td>
          <td><%= number_with_precision(baseproduct.unit_price, :precision => 2) %></td>
          <td><%= baseproduct.total_price %>
          <font color="blue"><% if !@ingredient.shrinkage.blank? %>adjusted<% end %></font></td>
          <td><%= number_with_precision((baseproduct.price_per), :precision => 4)  %></td>
        </tr>
      <% end %>     
    </tbody>
     
  </table>
  <% else %>
  
  There are no purchase records for this ingredient.<br>
  PLEASE CREATE ONE IMMEDIATELY<br>
  To add a purchase record go to  <%= link_to edit_ingredient_path(@ingredient), class: 'btn btn-success btn-xs' do %>
      <span class="fa fa-pencil-square-o""></span>
   <% end %>

    <% end %>
    <br><br>

   <%= link_to edit_ingredient_path(@ingredient), class: 'btn btn-success btn-xs' do %>
      <span class="fa fa-pencil-square-o""></span>
   <% end %>
  |
 <%= link_to '>> see all ingredients', ingredients_all_path %> | 
  <%= link_to '>> see ingredients by category', ingredients_path %> | 
    <%= link_to '++ add new ingredient', new_ingredient_path %> | 
 <b>
 <%= link_to @ingredient, method: :delete, data: { confirm: 'Mgmt Action: Only delete ingredients that are not used in any product. Are you sure you want to permanently delete this ingredient?' }, class: 'btn btn-danger btn-xs' do  %>
  <span class="fa fa-trash""></span>
   <% end %> 
 </b>
  
</div></div>
<br><br>

