

<h3>
  <strong><%= Category.where(id: @ingredient.category_id).first.name %> / <%= @ingredient.name %></strong>
  
</h3>



<% if @ingredient.baseproducts.any? %>

  <table class="table  table-striped">
    <thead>
      <tr>
        <th>Purchase date</th>
        <th>Vendor </th>
        <th>Unit count</th>
        <th>Unit weight(g)</th>
        <th>Total weight(g)</th>
        <th>Unit price(p)</th>
        <th>Total price(p)</th>
        <th>Price per (p/g)</th>
      </tr>
    </thead>

    <tbody>
  <%  @baseproducts.each do |baseproduct| %> 
        <tr>
          <td><%= baseproduct.purchase_date %></td>
          <td><%= Vendor.where(:id => baseproduct.vendor_id ).first.name %></td>
          <td><%= baseproduct.unit_count %></td>
          <td><%= baseproduct.unit_weight %><% if !@ingredient.unit_item.blank? %>/ <%=  @ingredient.unit_item%><% end %> </td>
          <td><%= baseproduct.total_weight %></td>
          <td><%= number_with_precision(baseproduct.unit_price, :precision => 2) %></td>
          <td><%= baseproduct.total_price %></td>
          <td><%=  number_with_precision(baseproduct.price_per, :precision => 4)  %></td>
        </tr>
      <% end %>
      
    </tbody>
     
  </table>
  <% else %>
  
  There are no purchase records or pricing data for this ingredient.<br>
  To add a purchase record go to edit.

    <% end %>
    <br><br>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'All ingredients', ingredients_path %> | 


