<p id="notice"><%= notice %></p>

<h3>
  <strong><%= Category.where(id: @ingredient.category_id).first.name %> / <%= @ingredient.name %></strong>
  
</h3>



<% if @ingredient.baseproducts.any? %>

  <table class="table  table-striped">
    <thead>
      <tr>
        <th>Purchase date</th>
        <th>Vendor </th>
        <th>Unit weight(g)</th>
        <th>Total weight(g)</th>
        <th>Unit count</th>
        <th>Total price(p)</th>
        <th>Unit price(p)</th>
        <th>Price per (p/g)</th>
      </tr>
    </thead>

    <tbody>
  <%  @baseproducts.each do |baseproduct| %> 
        <tr>
          <td><%= baseproduct.purchase_date %></td>
          <td><%= Vendor.where(:id => baseproduct.vendor_id ).first.name %></td>
          <td><%= baseproduct.unit_weight %></td>
          <td><%= baseproduct.total_weight %></td>
          <td><%= baseproduct.unit_count %></td>
          <td><%= baseproduct.total_price %></td>
          <td><%= baseproduct.unit_price %></td>
          <td><%= baseproduct.price_per %></td>
         
        </tr>
      <% end %>
    </tbody>
  </table>

    <% end %>
    <br><br>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
