<h1>Purchase Records</h1>
<%= link_to '+ add new purchase record', new_baseproduct_path %>


<table class="table  table-striped" style="text-align:right">
  <thead>
    <tr>
      <th style="text-align:left">Name</th>
      <th>Vendor</th>
      <th>Purchase date </th>
      <th style="text-align:right">Unit count</th>
      <th style="text-align:right">Unit weight</th>
      <th style="text-align:right">Total weight</th>
      <th style="text-align:right">Unit price</th>
      <th style="text-align:right">Total price</th>
      <th style="text-align:right">Price per</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseproducts.each do |baseproduct| %>
      <tr>
        <td style="text-align:left"><% unless Ingredient.where(:id => baseproduct.ingredient_id).count == 0 %><%= Ingredient.where(:id => baseproduct.ingredient_id ).first.name %><% end %></td>
        <td style="text-align:left"><%= Vendor.where(:id => baseproduct.vendor_id ).first.name %></td>
        <td style="text-align:center"><%= link_to baseproduct.purchase_date, baseproduct %></td>
        <td><%= baseproduct.unit_count %></td>
        <td><%= baseproduct.unit_weight %></td>
        <td><%= baseproduct.total_weight %></td>
        <td><%= number_with_precision(baseproduct.unit_price, :precision => 2) %></td>
        <td><%= baseproduct.total_price %></td>
        <td><%= number_with_precision(baseproduct.price_per, :precision => 2) %></td>
        <td><%= link_to edit_baseproduct_path(baseproduct), class: 'btn btn-success btn-xs' do %>
           <span class="fa fa-pencil-square-o""></span>
        <% end %> | 
        <%= link_to baseproduct, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-danger btn-xs' do %>
                 <span class="fa fa-trash""></span>
               <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<button class="btn">	
<%= form_tag import_baseproducts_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import" %>
                        <% end %>
  </button>

