<h1>Purchase Records</h1>
<%= link_to '+ add new purchase record', new_baseproduct_path %>


<table class="table  table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Purchase date </th>
      <th>Unit count</th>
      <th>Unit weight</th>
      <th>Total weight</th>
      <th>Unit price</th>
      <th>Total price</th>
      <th>Price per</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseproducts.each do |baseproduct| %>
      <tr>
        <td><%= Ingredient.where(:id => baseproduct.ingredient_id ).first.name %></td>
        <td><%= Vendor.where(:id => baseproduct.vendor_id ).first.name %></td>
        <td><%= link_to baseproduct.purchase_date, baseproduct %></td>
        <td><%= baseproduct.unit_count %></td>
        <td><%= baseproduct.unit_weight %></td>
        <td><%= baseproduct.total_weight %></td>
        <td><%= number_with_precision(baseproduct.unit_price, :precision => 2) %></td>
        <td><%= baseproduct.total_price %></td>
        <td><%= number_with_precision(baseproduct.price_per, :precision => 2) %></td>
        <td><%= link_to 'Edit', edit_baseproduct_path(baseproduct) %> | 
        <%= link_to 'Delete', baseproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<button class="btn">	
<%= form_tag import_baseproducts_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import" %>
                        <% end %>
  </button>

