<html>
  <body>
<p><strong>HANG FIRE SMOKEHOUSE</strong></p> 
<p>Christmas Orders</p>
<br><p>Hi <%= @order.contact_person %>,</p>
<br>
<p>Thanks for placing your order and paying online.</p>
<p>Your order reference is <%= @order.guid %> and your total was £<%= @order.total %>.</p>
<p>Follow this link to see what you ordered :<strong><%= link_to "my order details", "https://hangfire.herokuapp.com/show/#{@order.guid}" %></strong>.</p>
<p>If you have any questions please visit our <p><strong><%= link_to "FAQs", "https://hangfire.herokuapp.com/static_pages/faq" %></strong>.</p>
<br>
<p>Don't forget to come and collect your order on <%= @order.date_selector %>.</p>
<p>You can find us at 10 Church Street, Llantwit Major, CF61 1SB.</p>
<p>We are open between 10am and 7pm.</p>
<br>
<p>See you then, </p>
<br>
<p><strong>Sam and Shauna</strong><p>
  </body>
</html>