<h1>Listing eventproducts</h1>

<table>
  <thead>
    <tr>
      <th>Eventplanner</th>
      <th>Product</th>
      <th>Covers</th>
      <th>Over ride price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventproducts.each do |eventproduct| %>
      <tr>
        <td><%= eventproduct.eventplanner_id %></td>
        <td><%= eventproduct.product_id %></td>
        <td><%= eventproduct.covers %></td>
        <td><%= eventproduct.over_ride_price %></td>
        <td><%= link_to 'Show', eventproduct %></td>
        <td><%= link_to 'Edit', edit_eventproduct_path(eventproduct) %></td>
        <td><%= link_to 'Destroy', eventproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventproduct', new_eventproduct_path %>
