<% if order.orderitems.any? %>
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  <table class="table">
   <tr><td class="text-center", colspan="2"><h2>Your Order</h2></td></tr>
  <tr>
    <th class="text-left"><h4>Reference: <strong><%= order.guid %></strong></h4></th>
    <th class="text-right"><h4>Status: <strong><%= order.status %></strong></h4></th>
  </tr>
  <tr>
    <td class="text-center", colspan="2"><strong>:: IMPORTANT ::</strong>
     Your collection date is <strong><%= order.date_selector %></strong></td>
  </tr>
  </table>
  <br>
  
       <% my_orderitems = order.orderitems %>
       <% my_orderitems_by_category_id = my_orderitems.group_by { |h| h[:category_id]}  %>
       
      <table class="table table-hover">
       <% my_orderitems_by_category_id.each do |category_id, my_sorted_orderitems| %>
         
        <tr><td colspan="4"></th><strong><%= Category.where(:id => category_id).first.name %></strong></td> </tr>

  <% for orderitem in my_sorted_orderitems %>  
    <% if orderitem.quantity > 0 %>
      <tr>
        <td><%= get_name(orderitem.saleproduct_id) %></td>
        <td>(<%= orderitem.quantity %> @ <%= get_price_currency(orderitem.saleproduct_id) %>)</td>
        <td class="text-right"><%= number_to_currency(orderitem.quantity*get_price(orderitem.saleproduct_id)) %></td>
      </tr>
    <% else %><% end %>
  <% end %>
    <% end %>  
  
  <tr>
      <td></td>
      <td><strong>Total Price: </strong></td>
      <td class="text-right"><strong><%= get_order_total_currency(order.id) %></strong></td>
  </tr>
  </table>
 
  <% else %>
  no order item records
  <% end %>
  <p><strong>Please review your order and personal details before making payment.</strong></p>

  <h5>If your order is correct please progress to payment, otherwise <%= link_to 'click here to edit order.', edit_order_path(order) %>  </h5>
 
  <table class="table">
  <tr>
  <td>
 <%= form_tag buy_path(guid: order.guid) do %>
   <script src="https://checkout.stripe.com/v2/checkout.js"
     class="stripe-button"
     data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
     data-name="Hang Fire Smokehouse"
     data-description="Christmas Order"
     data-email=<%= order.email%>
     data-amount="<%= (get_order_total(order.id)*100) %>"
     data-currency="GBP"
     data-allow-remember-me=false
     data-locale="auto">
     </script>
 <% end %>
 </td>
 <td class="text-right">
<button type="button" class="btn btn-success btn-sm"><%= link_to "Continue Shopping", edit_order_path(order) %></button> 
</td>
 </tr>
 </table>

</div></div>

