
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="masthead">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2"> 
<body><center><%= image_tag "HF-Logo-Lndscape.jpg", size: "600x160" %></center></body>

<% if logged_in? %>
  <h3>MANAGEMENT USE ONLY::  </h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <table>
    <tr>
    <td>
      <div class="field">
       <%= f.label :status, "Change status when order is collected:" %>
        <%= f.select(:status, Order::ORDER_STATUS_TYPES) %>
     </div>
     </td>
    
    <td class="text-right">
      <div class="actions">
       <%= f.submit "Save change" %>
       </div>
     </td>
    </tr>
    </table>
    </div>
  </div>
  <% end %>


<div>
<h3>1) Choose a pickup date:</h3>
<div class="panel panel-default">
  <div class="panel-body">
   <div class="field">
    <%= f.label :date_selector, "Please choose a date to collect your order ..." %>
     <%= f.select(:date_selector, Order::COLLECTION_DATE_TYPES, :prompt => true, :include_blank => true) %>
   <p>Last date for online orders are midnight 14th December. <br>
   Orders will be available for collection from our shop: 10 Church Street, Llantwit Major, CF61 1SB<br>
   from 10am to 7pm 21st, 22nd, 23rd December.
   </p>
   </div>
  </div>
</div>
</div>

<div>
<h3>2) Place your order:</h3>
<div class="panel panel-default">
  <div class="panel-body">
  <strong>Please enter quantity for items you require, up to the maximum available</strong><br><br>
  
  <% if @order.orderitems.any? %>
  
   <% @order.orderitems.group_by {|rq| rq.category_id }.each do |category_id, items_group| %>
          
    <strong>  <%= Category.where(:id => category_id).first.name %></strong>
	
      <table class="table">    
      <tr>
        <th>Product</th>
        <th>Weight/Size</th> 
        <th class="text-right">Price</th>
        <th class="text-right">Quantity</th>
      </tr>
        
        
<%= f.fields_for :orderitems, items_group.sort_by{|rq| rq.id} do |builder| %>           
       
       <tr>
       <td><%= Saleproduct.where(:id => (builder.object.saleproduct_id)).first.name %></td>
       <td><%= Saleproduct.where(:id => (builder.object.saleproduct_id)).first.weight %></td>
   
    <% if Saleproduct.where(:id => (builder.object.saleproduct_id)).first.remaining_quanity > 0 %>
       <td class="text-right"><%= number_to_currency(Saleproduct.where(:id => (builder.object.saleproduct_id)).first.price) %></td>
       <td class="text-right"><%= builder.select :quantity, options_for_select(Range.new(0,(Saleproduct.where(:id => (builder.object.saleproduct_id)).first.remaining_quanity)), :selected => builder.object.quantity) %></td>
       <% else %>
       <td class="text-right"><a>SOLD OUT</a></td>
       <td class="text-right"><a>SOLD OUT</a></td>
        <% end %>
       </tr>
    <% end %>    <% end %> 
    </table>
    
  <% else %>
  Error No Records
  <% end %>
  
  </div>
</div>
</div>


<div>
<h3>3) Contact Details:</h3>
<div class="panel panel-default">
  <div class="panel-body">
   These details are private and confidential.
   We'll only use them if we need to contact you about your order.<br>
   We promise never to pass them onto a third party.<br><br>
   <table>
   <tr>
   <td> <%= f.label :contact_person, "Contact name",  :style => "width: 160px;" %></td>
   <td> <%= f.text_field :contact_person, :style => "width: 200px;" %></td>
    </tr>
     <tr>
     <td>  <%= f.label :phone %></td>
     <td> <%= f.text_field :phone, :style => "width: 200px;" %></td>
     </tr>
     <tr>
     <td>  <%= f.label :email %></td>
     <td> <%= f.text_field :email, :style => "width: 250px;" %></td>
     </tr>
     <tr>
     <td>  <%= f.label :email, "Email Confirmation" %></td>
     <td> <%= f.text_field :email_confirmation, :style => "width: 250px;" %></td>
     </tr>
      </table>
      <br>
    <p>Would you like to receive updates from Hang Fire about future events and new offers? Promise we won't spam.
    </p>
    <table>
     <tr>
     <td> <%= f.label :marketing, "Sign me up", :style => "width: 160px;" %></td>
     <td> <%= f.check_box :marketing %></td>
      </tr>
    </table>

    <%= f.hidden_field :total, :value => get_order_total(@order)%>
 
  </div>
</div>
</div>
<p>Click the button to review your order and pay by card using <strong><%= link_to "Stripe", "https://stripe.com/about" %> </strong>
  for secure online payments.</p>

  <div class="actions">
  <%= f.hidden_field :guid, :value => @order[0].guid %>
    <%= f.submit "Review Order and Pay" %>
  </div>
<% end %>

</div></div>
</div></div>



