
<div class="masthead">
<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-md-offset-3  "> 

<body><center><%= image_tag "HF-Logo-Lndscape.jpg", size: "600x160" %></center></body>


 <% if @order.status == "Open" %>
 
 <%= render 'orders/before_pay_header', order: @order %>
   <%= render 'orders/before_pay_summary', order: @order  %>
 <% else %>
  <%= render 'orders/after_pay_header', order: @order  %>
    <%= render 'orders/after_pay_summary', order: @order  %>
 <% end %>
 

</div></div>
</div></div>
</div></div>