<h1>Vendors</h1>
<%= link_to '+ add new vendor', new_vendor_path %>
<br>
<div class="row">
<div class="col-xs-6 col-md-6  col-md-offset-1">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>No. of<br>Products</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.name, vendor %></td>
        <td><%= Baseproduct.where(:vendor_id => vendor.id).distinct.count(:ingredient_id) %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %> | 
        <%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


