<div class="row">
<div class="col-md-6  col-md-offset-2">

<%= bootstrap_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2>Edit Product</h2>
  <table class="table-condensed">
  <tr>
  <td><%= f.text_field :name%></td>
  <td><%= f.collection_select :category_id, (Category.where(:reference => 'product')), :id, :name, :prompt => true %>
  </td>
  <td><%= f.check_box :shauna, :label => "Checked by Sam/Shauna?" %></td>
  <tr><td colspan="3">
  <%= f.text_field :desc, :size => 40, :placeholder => "...enter product description here..." %></td></tr>
  <table>
<br>
  <b>Select ingredients</b>
  <table class="table table-condensed" style="border: 0; background-color: #e6e6e6">
  <tr>
  <td style="text-align:left"><small><b><i>Ingredient</small></td>
  <td style="text-align:right"><small><b><i>Weight</td>
  <td style="text-align:center"><small><b><i>OR</td>
  <td style="text-align:right"><small><b><i>Quantity</td>
  <td style="text-align:center"><small><b><i>£ Selector</td>
  <td style="text-align:center"><small><b><i>REMOVE </td>
  </tr>
   <%= f.fields_for :productitems do |builder| %>
      <%= render 'productitem_fields', f: builder %>
    <% end %>
    <tr>
    <td  colspan="5"><b><%= link_to_add_fields "+ add ingredient", f, :productitems %></b></td>
    </tr>
     </table>
    
    <h3>Use quantity of existing product</h3>  
     <%= f.fields_for :friendships do |builder| %>
        <%= render 'friendship_fields', f: builder %>
      <% end %> 
    <%= link_to "+ add product", friendships_path(:product_id => @product), :method => :post %>
  <br><br>
  <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
  </div>
    <br>
<% end %>
 </div></div>
