<fieldset>

 <table>

  <tbody>
  <tr>
    <td> <%= f.grouped_collection_select :friend_id, Category.where(id: product_categories_to_add).order(:name), :products, :name, :id, :name, :prompt => true %></td>
    <td><%= f.hidden_field :product_id %> </td>
    <td><%= f.text_field :prodvolume, :placeholder => "Volume (g)", :style => "text-align: Right"  %> grams </td>
    <td><%= f.check_box :_destroy %><%= f.label :_destroy, "Remove product" %></td> 
  </tr>
  </tbody>
</table>
<br>
  
</fieldset>