<fieldset>

 <table>

  <tbody>
  <tr>
      <td><%= i_id = f.collection_select :ingredient_id, (Ingredient.all.sort_by { |h| h[:name] }), :id, :name,  :prompt => true %></td>
      <td><%= f.text_field :volume, :placeholder => "Volume (g)", :style => "text-align: Right" %> grams</td> 
      <td><%= f.text_field :unit_count, :placeholder => "Unit Count (g)", :style => "text-align: Center" %> units</td> 
       <td> <%= f.select(:price_selector, Productitem::PRICE_SELECTOR_TYPES, :selected => 'latest')%> </td>
    <td> <%= f.check_box :_destroy %><%= f.label :_destroy, "Remove ingredient" %></td>
  </tr>
  </tbody>
</table>
<br>
  
  </fieldset>