<tr>
        <td><%= link_to (Ingredient.get_name(productitem.ingredient_id)), ingredient_path(productitem.ingredient_id) %></td>
        <td><%= productitem.volume %>g</td>
        <td><%= productitem.unit_count %><% if !Ingredient.get_unit_item(productitem.ingredient_id).blank? %>/ <%=  Ingredient.get_unit_item(productitem.ingredient_id) %><% end %> </td>
        <td><%= productitem.price_selector %></td>
        <td><%= number_with_precision(Ingredient.get_price(productitem.ingredient_id,productitem.price_selector), :precision => 4) %></td>
        <td><%= number_with_precision((Productitem.weight_ratio(productitem,0))*100, :precision => 2) %>%</td>
        <td><%= number_with_precision(Productitem.total_price(productitem), :precision => 2) %>p</td>
</tr>
