<h1>HF Products</h1>
<%= link_to '+ add new product', new_product_path %><br>
<%= link_to '> see all products', products_all_path %>

<div class="row">
<div class="col-md-10  col-md-offset-1">

<!-- Instructions: The search form. -->  
 
   <%= form_tag(products_path, :method => "get", id: "search-form") do %>
       <%= collection_select(:product, :category_id, (Category.where(:reference => 'product')), :id, :name) %>
       <%= submit_tag "Search" %>
   <% end %>

 
   <%  if @products == 0 %>
     <br>
     Please select a category for search
     <br>
 
 <% else %>


<% @products_by_category.each do |category_id, products| %>
 
<table class="table">
<thead>
  <tr>
    <th><h3><%= Category.where(:id => category_id).first.name %> </h3></th>
     <th><strong>Sam/Shauna<br>Check?</strong></th>
    <th>Items<br>Count</th>
    <th>Related<br>Products</th>
    <th>Used in<br>Plates</th>    
    <th>Cost</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
</thead>
  
  <tbody>
  <% products = products.sort_by { |h| h[:name]} %>
    <% products.each do |product| %>
    
      <tr>  
        <td><strong><%= link_to product.name, product  %></strong></td>
        <td><strong><%= shauna_format(product) %></strong></td>
        <td><%= get_items_count(product) %></td>      
        <td><%= related_product_count(product) %></td> 
        <td><%= related_plate_count(product) %></td>               
        <td><%= number_to_currency(get_items_cost(product)/100, :locale => :en)  %></td> 
        <td>  <%= link_to edit_product_path(product), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
          <% end %>
         |
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-danger btn-xs' do %>
         <span class="fa fa-trash""></span>
       <% end %> 
       </td>
      </tr> 
      </tbody>
      
      <% end %>    
      <tr><td><%= link_to '+ add new product', new_product_path %></td></tr>
</table>
 <% end %> <% end %>
 <br>

<button class="btn">	<a>Import productitems</a><%= form_tag import_productitems_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import" %>
                        <% end %>
  </button>
<br><br>
