<h1>HF Products</h1>
<%= link_to '+ add new product', new_product_path %>

<% @products_by_category.each do |category_id, products| %>
 
<table class="table">
<thead>
  <tr>
    <th><h3><%= Category.where(:id => category_id).first.name %> </h3></th>
    <th>No. of<br>Ingredients</th>
    <th>Ingredient<br>Cost (p)</th>
    <th>No. of<br>Products</th>
    <th>Product<br>Cost (p)</th>
    <th>Total<br>Cost (p)</th>    
    <th colspan="3"></th>
  </tr>
</thead>
  
  <tbody>
  <% products = products.sort_by { |h| h[:name]} %>
    <% products.each do |product| %>
    
      <tr>  
        <td><strong><%= link_to product.name, product  %></strong></td>
        <td><%= product.productitems.count %></td>
        <td><%= itotal = number_with_precision(Product.get_total_price(product.id), :precision =>2) %></td>        
        <td><%= count = Friendship.where(:product_id => product.id).count %></td>
        <% if count > 0 %>
        <td><%= ptotal = number_with_precision(Product.get_total_ratios_price(product.id), :precision =>3) %></td>       
        <% else %> 
        <td></td>
        <% end %> 
        <td><% if ptotal.blank? %>
          <%= itotal %>
          <% else %>
          <%= itotal.to_f + ptotal.to_f %>
          <% end %>
          </td>
        <td>[ <%= link_to 'Edit', edit_product_path(product) %> | 
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr> 
      <% end %>
      </tbody>
         
</table>
 <% end %>

<button class="btn">	<a>Import productitems</a><%= form_tag import_productitems_path, multipart: true do %>
	                      <%= file_field_tag :file %>
	                      <%= submit_tag "Import" %>
                        <% end %>
  </button>
<br><br>
