<h2>New product</h2>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  
  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, (Category.where(:reference => 'product')), :id, :name, :prompt => true %><br>
    <i>Category missing? </i><%= link_to '+ add new Category', new_category_path %>
<br>
  
   <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<%= link_to 'Back', products_path %>
