<%= link_to '>> see all products', products_path %>
<h3><%= Category.where(id: @product.category_id).first.name %> / <strong><%= @product.name %></strong></h3>
  <code><%= @product.desc %></code>

 <% if @product.productitems.any? || @friendships.any? %>
<div class="row">
<div class="col-xs-6 col-md-5">
  
  <h4>Product Summary</h4>
    <table class="table  table-bordered table-condensed">
      <thead>
      <tr>
        <th><strong></strong></th>
        <th>No. of</th>
        <th>Volume (g)</th>
        <th>Cost</th>
        </tr>
      </thead>
  <% if @product.productitems.any? %>
       <tr>
        <td>Ingredients</td>
        <td><%= @product.productitems.count %></td>
        <td><%= Product.get_total_weight(@product.id) %></td>
        <td><% if (Product.get_total_price(@product.id)).to_s == "missing data" %>
                        "missing data"
                        <% else %>
                        <%= @total_ingredient = number_with_precision(Product.get_total_price(@product.id), :precision => 1) %>p
                      <% end %></td></tr> 
      <% end %>
      
    <% if @friendships.any? %>    
    <% @total_product = [] %>
      <% @friendships.each do |friend| %>
        <tr>
        <td><%= Product.get_name(friend.friend_id) %></td>
        <td></td>
          <td><%= friend.prodvolume %></td>
          <td><%= @tot_prod = number_with_precision((Product.get_ratios_price(friend.friend_id,friend.prodvolume)), :precision => 1) %>p</td>
        <% @total_product << @tot_prod.to_f %>
        </tr>
        <% end %>   
    <% end %>  
    <% if @product.productitems.any? && @friendships.any? %>
      <tr>
      <td colspan="3"></td>
        <td>
        <% ans = (@total_ingredient.to_f + (@total_product.inject 0, :+)) %>
        <strong><%= number_to_currency((ans).to_f/100, :locale => :en) %></strong>
        </td>
      </tr>     
    <% end %>
    </table>
</div></div>       
<% end %> 
  
  <h4>Product Details</h4>

<% if @product.productitems.any? %>
  <table class="table  table-striped table-condensed">
    <thead>
      <tr>
        <th>Ingredients </th>
        <th>Volume (g)</th>
        <th>Unit Count</th>
        <th>Pricing Type </th>
        <th>Price per (p/g)</th>
        <th>Ratio</th>
        <th>Total cost (p)</th>
      </tr>
    </thead>
    <tbody>
       <% @product.productitems.each do |item| %>
        <tr>
          <td><%= link_to (Ingredient.get_name(item.ingredient_id)), ingredient_path(item.ingredient_id) %></td>
          <td><%= item.volume %></td>
          <td><%= item.unit_count %><% if !Ingredient.get_unit_item(item.ingredient_id).blank? %>/ <%=  Ingredient.get_unit_item(item.ingredient_id) %><% end %> </td>
          <td><%= item.price_selector %></td>
          <td><%= number_with_precision(Ingredient.get_price(item.ingredient_id,item.price_selector), :precision => 4) %></td>
          <td><%= number_with_precision((Productitem.weight_ratio(item))*100, :precision => 1) %>%</td>
          <td><%= number_with_precision(Productitem.total_price(item), :precision => 2) %>p</td>
          </tr>      
      <% end %>
    </tbody>
     <tr>
     <td><strong>Total Volume</strong></td>
          <td><strong><%= Product.get_total_weight(@product.id) %><strong></td>
        <td colspan="3"></td>
      <td><strong>Total Price</strong></td>
      <td><strong>
      <% if (Product.get_total_price(@product.id)).to_s == "missing data" %>
        "missing data"
        <% else %>
      <%= number_to_currency((Product.get_total_price(@product.id)).to_f/100, :locale => :en) %>
      <% end %>
      <strong></td>    
    <tr>
  </table>  
  <% end %>
  
  <% if @friendships.any? %>
  <% @friendships.each do |friend| %>
   <h4> <%= Product.where(:id => friend.friend_id).first.name %></h4>
    [Volume of Product required = <%= friend.prodvolume %>g] 
    <% tweight = number_with_precision(Product.get_total_weight(friend.friend_id), :precision => 2) %>
    <br>  
     
  <% @friendproductitems = Productitem.where(:product_id => friend.friend_id) %>
  
  <table class="table  table-striped table-condensed">
    <thead>
      <tr>
        <th>Ingredient </th>
        <th>Volume (g)</th>
        <th>Pricing Type </th>
        <th>Price per (p/g)</th>
        <th>Ratio</th>
        <th>Total cost (p)</th>
      </tr>
    </thead>
    <tbody>
       <% @friendproductitems.each do |frienditem| %>
        <tr>
          <td><%= Ingredient.get_name(frienditem.ingredient_id) %></td>
          <td><%= vol = number_with_precision(((frienditem.volume.to_f)/tweight.to_f)*friend.prodvolume, :precision => 4) %></td>
          <td><%= frienditem.price_selector %></td>
          <td><%= price = number_with_precision(Ingredient.get_price(frienditem.ingredient_id,frienditem.price_selector), :precision => 4) %></td>
          <td><%= number_with_precision(((Productitem.weight_ratio(frienditem))*100), :precision => 2) %>%</td> 
          <td><%= number_with_precision(vol.to_f*price.to_f, :precision => 2) %>p</td>
          </tr>      
      <% end %>
    </tbody>
     <tr>
     <td><strong>Total Volume</strong></td>
     <td><strong><%= friend.prodvolume %><strong></td>
      <td colspan="2"></td>
      <td><strong>Total Price</strong></td>
      <td><strong><%= number_to_currency((Product.get_ratios_price(friend.friend_id,friend.prodvolume)).to_f/100, :locale => :en)  %><strong></td>
    <tr>
  </table>

  <% end %>
  <% else %>
    <% end %>
        
     <br>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'All HF products', products_path %>
