<%= link_to '>> see all HF products', products_path %>

  <h3><%= Category.where(id: @product.category_id).first.name %> / <strong><%= @product.name %></strong></h3>
  <code><%= @product.desc %></code><br>
  <font color="green">Checked by Shauna? </font><strong><%= shauna_format(@product) %></strong>
  
   <% if @product.productitems.any? || @friendships.any? %>
  <div class="row">
  <div class="col-xs-6 col-md-6">

<h4>Product Summary</h4>
      <table class="table  table-bordered table-condensed">
        <thead>
        <tr>
          <th><strong></strong></th>
          <th>Count</th>
          <th>Volume</th>
          <th>Cost</th>
          <th><center>Price Per Gram</center></th>
          </tr>
        </thead>
          <% if @product.productitems.any? %>
               <tr>
                <td>Basic Ingredients</td>
                <td><center><%= @product.productitems.count %></center></td>
                <td><%= pw = Product.get_total_ingredient_weight(@product.id) %>g</td>
                <td><% if (Product.get_total_price(@product.id)).to_s == "missing data" %>
                                "missing data"
                                <% else %>
                                <%= @total_ingredient = number_with_precision(Product.get_total_price(@product.id), :precision => 1) %>p
                      <% end %>
                </td>
                 <% unless @friendships.any? %>
                   <% unless pw == 0 %>
                  <td><center><%=  number_with_precision(((@total_ingredient.to_f)/(pw.to_f)), :precision => 2) %>p</center></td>
                    <% end %>
                  <% end %>
                
                </tr> 
              <% end %>

            <% if @friendships.any? %>    
           
              <% @friendships.each do |friend| %>
                <tr>
                <td><%= link_to Product.get_name(friend.friend_id), product_path(friend.friend_id) %></td>
                <td><center>1</center></td>
                <td><%= friend.prodvolume %>g</td>
                <% p_price = get_product_price_per_gram(friend.friend_id) %>
                <td><%= number_with_precision((friend.prodvolume.to_f)*(p_price.to_f), :precision => 2) %>p</td>                  
                </tr>
              <% end %>   
            <% end %>  
            <% if @product.productitems.any? && @friendships.any? %>
              <tr>
              <td><strong>Total</strong></td>
                <td><strong><center><%= get_items_count(@product) %></center></strong></td>
                <td><strong><%= weigh = Product.get_total_weight(@product.id) %>g</strong></td>
                <td>
                  <% ans = get_items_cost(@product) %>
                  <strong><%= number_to_currency((ans).to_f/100, :locale => :en) %></strong>
                </td>
                <td><i><center><%= number_with_precision((ans/weigh), :precision => 2) %>p<i></center></td>
              </tr>     
            <% end %>
            </table>
        </div></div>       
        <% end %>
        
<h4>Product Details</h4>
    <% if @product.productitems.any? %>
      <table class="table  table-condensed">
         <thead>
           <tr>
             <th>Ingredients </th>
             <th>Volume (g)</th>
             <th>Unit Count</th>
             <th>Pricing Type </th>
             <th>Price per (p/g)</th>
             <th>Ratio</th>
             <th>Total cost (p)</th>
           </tr>
         </thead>
         <tbody>
         <tr>
         <%= render :partial => 'productitem', :collection => @product.productitems %>
         </tr>
      
       <% if @friendships.any? %>
       <tr>
           <%= render :partial => 'friendship', :collection => @friendships %>
        </tr>
        <% end %>
        </tbody>
         <tr>
            <td><strong>Total Volume</strong></td>
            <td><strong><%= Product.get_total_weight(@product.id) %>g<strong></td>
            <td colspan="3"></td>
            <td><strong>Total Price</strong></td>
            <td><strong>
            <%= number_to_currency((get_items_cost(@product)).to_f/100, :locale => :en) %>
            <strong></td>    
          <tr>
      </table>
  <% end %>       
              
  [<%= link_to 'Edit HF product', edit_product_path(@product) %> |
  <%= link_to 'All HF products', products_path %> ]
  <br><br>
  <% if (plates = (related_plate(@product))).any?%>
   <h4>Plates containing this product: </h4>
  <% plates.each do |plate| %>
    <ul>
    <li><%= link_to Plate.get_name(plate), plate_path(plate) %></li>
    </ul>
    <% end %>
      <% end %>     
  <br><br>  